.home {
  @apply flex justify-center;

  .content {
    @apply bg-amber-300;
    @apply w-full;
    box-sizing: border-box;

    margin: 16px; // 1rem = 16px

    @media (min-width: 640px) {
      @apply bg-red-500;
      margin: 24px;
      max-width: 384px;
    }

    @media (min-width: 768px) {
      @apply bg-green-500;
      margin: 32px;
      max-width: 448px;
    }

    @media (min-width: 1024px) {
      @apply bg-blue-500;
      margin: 40px;
      max-width: 512px;
    }

    @media (min-width: 1280px) {
      @apply bg-indigo-500;
      margin: 48px;
      max-width: 576px;
    }

    @media (min-width: 1536px) {
      @apply bg-purple-500;
      margin: 64px;
      max-width: 672px;
    }
  }
}