.card {
  @apply rounded-sm p-2;
  @apply m-4;
  // @apply mt-auto;
  @apply min-h-[500px];
  @apply flex flex-col gap-4;
  flex: 1;
  background-color: #f5f5dc;
  box-shadow: 0px 0px 5px rgba(45, 45, 45, 0.5);

  .text {
    @apply text-center;
  }
}
