@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url('https://ik.imagekit.io/cmckenna/beach2.jpeg?updatedAt=1742442892752'); */
  background-image: url('https://ik.imagekit.io/cmckenna/blurred-beach.jpg?updatedAt=1742452687269');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #88a799;
}