@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url('https://ik.imagekit.io/cmckenna/beach2.jpeg?updatedAt=1742442892752'); */
  background-image: url('https://ik.imagekit.io/cmckenna/blurred-beach.jpg?updatedAt=1742452687269');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #88a799;
}